@import "tailwindcss";
@import "tw-animate-css";

@import "tailwindcss";
@plugin '../lib/hero';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.65rem;
	--background: oklch(0.96 0 none);
	--foreground: oklch(0.15 0.01 136);
	--card: oklch(0.97 0.01 136);
	--card-foreground: oklch(0.15 0.01 136);
	--popover: oklch(0.97 0.01 136);
	--popover-foreground: oklch(0.15 0.01 136);
	--primary: oklch(0.22 0.0719 142.62);
	--primary-foreground: oklch(0.97 0.02 145);
	--secondary: oklch(0.45 0.25 145);
	--secondary-foreground: oklch(0.15 0.01 136);
	--muted: oklch(0.85 0.03 140);
	--muted-foreground: oklch(0.5 0.015 140);
	--accent: oklch(0.5 0.25 145);
	--accent-foreground: oklch(0.18 0.01 140);
	--destructive: oklch(0.65 0.23 30);
	--border: oklch(0.92 0.005 140);
	--input: oklch(0.92 0.005 140);
	--ring: oklch(0.22 0.0719 142.62);
	--chart-1: oklch(0.45 0.25 100);
	--chart-2: oklch(0.40 0.22 160);
	--chart-3: oklch(0.35 0.18 170);
	--chart-4: oklch(0.50 0.22 80);
	--chart-5: oklch(0.55 0.24 100);
	--sidebar: oklch(0.97 0.02 136);
	--sidebar-foreground: oklch(0.15 0.01 136);
	--sidebar-primary: oklch(0.22 0.0719 142.62);
	--sidebar-primary-foreground: oklch(0.97 0.02 145);
	--sidebar-accent: oklch(0.5 0.25 145);
	--sidebar-accent-foreground: oklch(0.18 0.01 140);
	--sidebar-border: oklch(0.92 0.005 140);
	--sidebar-ring: oklch(0.22 0.0719 142.62);
}

.dark {
	--background: oklch(0.12 0.01 136);
	--foreground: oklch(0.97 0 0);
	--card: oklch(0.18 0.01 136);
	--card-foreground: oklch(0.97 0 0);
	--popover: oklch(0.18 0.01 136);
	--popover-foreground: oklch(0.97 0 0);
	--primary: oklch(0.22 0.0719 142.62);
	--primary-foreground: oklch(0.27 0.14 145);
	--secondary: oklch(0.25 0.01 136);
	--secondary-foreground: oklch(0.97 0 0);
	--muted: oklch(0.25 0.01 136);
	--muted-foreground: oklch(0.68 0.015 136);
	--accent: oklch(0.25 0.25 145);
	--accent-foreground: oklch(0.97 0 0);
	--destructive: oklch(0.70 0.19 30);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.22 0.0719 142.62);
	--chart-1: oklch(0.30 0.28 100);
	--chart-2: oklch(0.45 0.17 160);
	--chart-3: oklch(0.55 0.18 100);
	--chart-4: oklch(0.40 0.25 155);
	--chart-5: oklch(0.42 0.25 75);
	--sidebar: oklch(0.18 0.01 136);
	--sidebar-foreground: oklch(0.97 0 0);
	--sidebar-primary: oklch(0.22 0.0719 142.62);
	--sidebar-primary-foreground: oklch(0.27 0.14 145);
	--sidebar-accent: oklch(0.25 0.25 145);
	--sidebar-accent-foreground: oklch(0.97 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.22 0.0719 142.62);
}


@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}